<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
</head>
<style>
    .layout {
        width: 500px;
        margin : 0 auto;
        margin-top: 40px;
    }
    .layout  input {
        width: 100%;
        box-sizing: border-box;
    }
    .layout  textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }

</style>
<body>
<div class="layout">
    <form action="/api/postcheck" method="post">
        <div class="card-body">
            <div class="commentaddarea">
                <div class="commenthead"> 🏠 방명록 </div>
                <!-- Comment form-->
                <div class="idpwdadd">
                    <div class="idpwd">
                        <div class="form-floating"  name="userName">
                            <input type="email" class="form-control" id="inputid" placeholder="Name" maxlength="10">
                            <label for="inputid">이름</label>
                        </div>
                        <div class="form-floating" name="password">
                            <input type="password" class="form-control" id="inputpwd" placeholder="Password" maxlength="10">
                            <label for="inputpwd">비밀번호</label>
                        </div>
                        <button id="addComment" type="button" class="btn btn-outline-primary">방명록 작성</button>
                    </div>
                    <div>
                        <form class="mb-4"><textarea id="inputcom" class="form-control" rows="4" placeholder="방명록을 작성하세요"></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Comment with nested comments-->
            <div id="commentarea" class="d-flex mb-4">
            </div>

        <input name="userName" type="text">
        <input name="password" type="text">
    <input name="title" type="text">
    <textarea name="content"></textarea>
    <button type="submit">작성</button>
    </form>
</div>

</body>
</html>